suckless/dwm/dwm
suckless/dwm/dwm.o
suckless/*/*.rej
suckless/*/*.*.rej
suckless/*/*.orig
suckless/*/*.*.orig
suckless/*/*.*.*.orig
suckless/*/dmenu.c.orig
suckless/*/config.h
suckless/st/TODO
suckless/dwm/config.def.h.rej
suckless/dwm/dwm.c.orig
suckless/dwm/config.def.h.orig
